* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    margin: 0px;
}

main {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 2em 1em 2em;
}

p {
    text-align: justify;
    line-height: 1.4em 
}

a {
    color: #3266c5;
    text-decoration: none;
}

a:hover {
    color: #3266c5;
    text-decoration: underline;
}

sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

hr {
    border-style: solid;
    color: #000;
    border-width: 0 0 1px 0;
}

.content hr {
    color: #1E1E1E;
}

table {
    margin: 2em auto 2em auto;
    border-collapse: collapse;
    border: 1px solid #000;
}

th {
    font-weight: bold;
    background-color: #EEE;
    border: 1px solid #000;
    padding: 0.5em 1em;
}

td {
    border: 1px solid #000;
    padding: 0.4em 1em;
    overflow: auto;
}

li {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.sans-serif {
   font-family: Helvetica, Arial, sans-serif;
}

.serif {
   font-family: Georgia, serif;
}

.darkgrey {
    color: #1E1E1E;
}

.grey {
    color: #858585;
}

.center {
    text-align: center;
}

.clearfix {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content.padded {
    padding: 2.5em;
}

form.bordered {
    border: 1px solid #000;
    padding: 1em;
    margin: 0 auto;
}

img.bordered {
    border: 1px solid #000;
}

.login-wide {
    max-width: 20em;
    width: 90%;
}

.standard-wide {
   width: 100%;
}

form label {
    display: block;
    margin-bottom: .25em;
}

form label:after {
    content: ": ";
}

form input {
    display: block;
    padding: .5em 1em;
    border: 1px solid #858585;
    margin-bottom: 1em;
    width: 100%;
    color: #1E1E1E;
}

form textarea {
    display: block;
    padding: .5em 1em;
    border: 1px solid #858585;
    margin-bottom: 1em;
    width: 100%;
    min-height: 120px;
    color: #1E1E1E;
}

form select {
    display: block;
    padding: .5em 1em;
    border: 1px solid #858585;
    margin-bottom: 1em;
    width: 100%;
    color: #1E1E1E;
}

form button {
    display: block;
    padding: .5em 1em;
    border: 1px solid #858585;
    margin-bottom: 1em;
    color: #1E1E1E;
    background: #F0F0F0;
    cursor: pointer;
}

form button:hover {
    background: #D0D0D0;
}

form button:focus {
    border-color: #3266c5;
}

form input:focus {
    border-color: #3266c5;
}

form.login-form input {
    width: 100%;
}

.error {
    text-align: center;
    color: #FF0000;
    padding: .5em;
    margin: .5em;
    border: solid 1px #FF7474;
    margin-left: auto;
    margin-right: auto;
}

.orange {
    color: #FF9500;
}

pre {
    background-color: #EEE;
    color: #000;
    font: 1em Consolas, Monaco, monospace;
    overflow-x: auto;
    padding: 1em;
}

code {
    background-color: #EEE;
    color: #000;
    font: 1em Consolas, Monaco, monospace;
}

header {
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 0.9em;
    margin: 4em 0 0 0;
}

@media screen and (max-width: 700px) {
    main {
        padding: 1em;
        width: auto;
        overflow-x: auto;
    }
    p {
       text-align: left;
    }
    blockquote {
       margin-left: 0;
    }
    ul, ol {
        list-style-position: inside;
        padding-left:0;
    }
    li ul, li ol {
        padding-left: 1em;
    }
}