    <div class="content padded">
        <h3>Dodaj kategoriju</h3>
        <form class="bordered standard-wide" method="post" data-fileupload-form data-fileupload-action="{{ site_url }}admin/api/picture-upload" onsubmit="fileUploadFormHandler(); return false" action="{{ site_url }}admin/categories/add">
            <label for="title">Naziv kategorije</label>
            <input type="text" id="title" name="title" placeholder="" value="{{ title }}" />
            <label for="picture">Slika kategorije</label>
            <input type="file" name="picture" id="picture" data-fileupload-field />
            <input type="hidden" name="picture_id" value="" data-fileupload-value />
            <p class="grey">Slika mora biti .JPG veličine 320x320 (manje ili veće slike će biti prilagođene) do 500 KB. </p>
            <button type="submit" class="right">Dodaj</button>
            <div class="clearfix"></div>
        </form>
    </div>
