        <div class="content padded">
            <h3>Kategorije</h3>
            <nav>
                <hr>
                <p><a href="{{ site_url }}admin/categories/add">Dodaj kategoriju</a></p>
                <hr>
            </nav>
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Slika</th>
                        <th>Naziv</th>
                        <th>Radnje</th>
                    </tr>
                </thead>
                <tbody>
                    {{# categories }}
                    <tr>
                        <td>{{ category_id }}</td>
                        <td><img src="{{ picture_thumb_url }}" height="64" alt="{{ category_title }}" /></td>
                        <td>{{ category_title }}</td>
                        <td>
                            <a href="{{ site_url }}admin/categories/{{ category_id }}/edit">Izmeni</a> / 
                            {{# category_is_hidden }}
                            <a href="{{ site_url }}admin/categories/{{ category_id }}/show">Otkrij</a>
                            {{/ category_is_hidden }}
                            {{^ category_is_hidden }}
                            <a href="{{ site_url }}admin/categories/{{ category_id }}/hide">Sakrij</a>
                            {{/ category_is_hidden }}
                        </td>
                    </tr>
                    {{/ categories }}
                </tbody>
            </table>
        </div>
