<div class="content padded">
    <h3>Izmeni proizvod</h3>
    <form class="bordered standard-wide" method="post" data-not-required-fileupload="1" data-fileupload-form data-fileupload-action="{{ site_url }}admin/api/picture-upload" onsubmit="fileUploadFormHandler(); return false" action="{{ site_url }}admin/products/{{ id }}/edit">
        <label for="title">Naziv proizvoda</label>
        <input type="text" id="title" name="title" placeholder="" value="{{ title }}" />
        <label for="short_description">Opis proizvoda</label>
        <textarea id="short_description" name="short_description" placeholder="">{{ short_description }}</textarea>
        <label for="long_description">Sastojci proizvoda</label>
        <textarea id="long_description" name="long_description" placeholder="">{{ long_description }}</textarea>
        <label for="unit_of_measure">Jedinica mere (kom/kg/box/gr...)</label>
        <input type="text" id="unit_of_measure" name="unit_of_measure" placeholder="" value="{{ unit_of_measure }}" />
        <label for="price_per_unit">Cena po jedinici mere</label>
        <input type="number" min="0" step="0.1" id="price_per_unit" name="price_per_unit" placeholder="" value="{{ price_per_unit }}" />
        <label for="category_id">Kategorija proizvoda</label>
        <select id="category_id" name="category_id" data-autovalue-select data-value="{{ category_id }}">
            {{# categories }}
                <option value="{{ category_id }}">{{ category_title }}</option>
            {{/ categories }}
        </select>
        <label for="picture">Slika proizvoda</label>
        <img class="bordered" width="240" height="240" src="{{ picture_thumb_url }}" />
        <input type="file" name="picture" id="picture" data-fileupload-field />
        <input type="hidden" name="picture_id" value="{{ picture_id }}" data-fileupload-value />
        <p class="orange">Važno: Ako ne želite da promenite sliku, nemojte odabrati drugu sliku i stara slika će ostati nepromenjena. </p>
        <p class="grey">Slika mora biti .JPG veličine 320x320 (manje ili veće slike će biti prilagođene) do 500 KB. </p>
        <button type="submit" class="right">Ažuriraj</button>
        <div class="clearfix"></div>
    </form>
</div>
