<div class="content padded">
    <h3>Izmeni kategoriju</h3>
    <form class="bordered standard-wide" method="post" data-not-required-fileupload="1" data-fileupload-form data-fileupload-action="{{ site_url }}admin/api/picture-upload" onsubmit="fileUploadFormHandler(); return false" action="{{ site_url }}admin/categories/{{ id }}/edit">
        <label for="title">Naziv kategorije</label>
        <input type="text" id="title" name="title" placeholder="" value="{{ title }}" />
        <label for="picture">Slika kategorije</label>
        <img class="bordered" width="240" height="240" src="{{ picture_thumb_url }}" />
        <input type="file" name="picture" id="picture" data-fileupload-field />
        <input type="hidden" name="picture_id" value="{{ picture_id }}" data-fileupload-value />
        <p class="orange">Važno: Ako ne želite da promenite sliku, nemojte odabrati drugu sliku i stara slika će ostati nepromenjena. </p>
        <p class="grey">Slika mora biti .JPG veličine 320x320 (manje ili veće slike će biti prilagođene) do 500 KB. </p>
        <button type="submit" class="right">Ažuriraj</button>
        <div class="clearfix"></div>
    </form>
</div>
