        <footer>
            <hr>
            <p class="grey footer">&copy; 2018 {{ site_name }}. Izradio Novak Kuč. Pokreće PHP. Validan HTML5 i CSS. </p>
        </footer>
    </main>
    <script>window.site_url = '{{ site_url }}'</script>
    <script src="{{ site_url }}js/jquery.min.js"></script>
    <script src="{{ site_url }}js/admin/upload-form.js"></script>
    <script src="{{ site_url }}js/admin/form.js"></script>
</body>
</html>