<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>{{# page_title }}{{ page_title }}{{/ page_title }}{{^ page_title }}{{ site_name }}{{/ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ site_url }}css/simple.css">
</head>
<body>
    <main>
        <header>
            <h1 class="darkgrey">{{ site_name }}</h1>
            <h2 class="grey">Administracioni panel</h2>
            <hr>
        </header>
