<div class="content padded">
    <h3 class="center">Prijavite se</h3>
    {{# error }}
        <div class="error login-wide">{{ error }}</div>
    {{/ error}}
    <form method="post" class="bordered login-wide" action="{{ site_url }}admin/login">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="" value="{{ username }}" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="" value="{{ password }}" />
        <button type="submit" class="right">Login</button>
        <div class="clearfix"></div>
    </form>
</div>