        <nav>
            <p>
                <a href="{{ site_url }}admin">Početna</a> / 
                <a href="{{ site_url }}admin/categories">Kategorije</a> / 
                <a href="{{ site_url }}admin/products">Proizvodi</a>
            </p>
            <hr>
        </nav>