    <div class="content padded">
        <h3>Proizvodi</h3>
        <nav>
            <hr>
            <p><a href="{{ site_url }}admin/products/add">Dodaj proizvod</a></p>
            <hr>
        </nav>
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Slika</th>
                    <th>Naziv</th>
                    <th>Radnje</th>
                </tr>
            </thead>
            <tbody>
                {{# products }}
                <tr>
                    <td>{{ product_id }}</td>
                    <td><img src="{{ picture_thumb_url }}" height="64" alt="{{ product_title }}" /></td>
                    <td>{{ product_title }}</td>
                    <td>
                        <a href="{{ site_url }}admin/products/{{ product_id }}/edit">Izmeni</a> /
                        <a href="{{ site_url }}admin/products/{{ product_id }}/delete">Obriši</a>
                    </td>
                </tr>
                {{/ products }}
            </tbody>
        </table>
    </div>
