<div class="checkout-page">
	<h2>Vaša Korpa</h2>
	<p>Proverite sadržaj korpe koji se nalazi ispod. Ako je sve u redu, popunite formular ispod sa svojim tačnim podacima i porudžbina će biti poslata na Vašu kućnu adresu, i Vi ćete biti obavešteni e-mail-om o statusu porudžbine. </p>
	<div class="cart-items">
		{{# cart }}
			<div class="cart-item"><h3>{{ title }}</h3><p class="info">Cena: <span class="the-price-item">{{ price }} din</span> &times; <span class="the-quantity-item">{{ quantity }}</span> = <span class="the-total-item">{{ total }} din</span></p><div class="clearfix"></div></div>
		{{/ cart }}
		{{^ cart }}
			<div class="no-items"><p>Nemate proizvoda u korpi. </p></div>
		{{/ cart }}
	</div>
	<h2>Vaši Podaci</h2>
	<div class="order-form">
		<form class="form" method="post" action="{{ site_url }}checkout?order=1">
			<div class="row">
				<label for="first_name">Vaše Ime: </label>
				<input type="text" id="first_name" name="first_name" placeholder="Milica" />
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<label for="last_name">Vaše Prezime: </label>
				<input type="text" id="last_name" name="last_name" placeholder="Marinković" />
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<label for="address">Vaša puna adresa: </label>
				<textarea id="address" name="address" placeholder="Neka ulica 3, 11000 Beograd"></textarea>
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<label for="email">Vaš E-mail: </label>
				<input type="email" id="email" name="email" placeholder="milicamica1@gmail.com" />
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<label for="note">Napomena: </label>
				<textarea id="note" name="note" placeholder="Kolačići treba da budu upakovani u plave kutije. "></textarea>
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<button type="submit">Naruči</button>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
</div>