        <footer>
            <p>&copy; 2018 {{ site_name }}. Izradio Novak Kuč. Uživajte u slatkim čarolijama :)</p>
        </footer>
    </main>
	<div id="theCartModal" class="modal-container">
		<div class="darken"></div>
		<div class="modal">
			<h2 class="cart-title">Moja korpa</h2>
			<p class="cart-total"><span id="cartTotal"></span> din</p>
			<div class="clearfix"></div>
			<div id="cartItems"></div>
			<div class="cart-more">
				<a class="btn" href="{{ site_url }}checkout">Završi kupovinu</a>
			</div>
		</div>
	</div>
    <script>window.site_url = '{{ site_url }}'</script>
    <script src="{{ site_url }}js/jquery.min.js"></script>
    <script src="{{ site_url }}js/categories.js"></script>
    <script src="{{ site_url }}js/product.js"></script>
    <script src="{{ site_url }}js/cart.js"></script>
    <script src="{{ site_url }}js/cart-ui.js"></script>
    <!-- <script src="{{ site_url }}js/site.js"></script> -->
</body>
</html>