<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <title>{{# page_title }}{{ page_title }}{{/ page_title }}{{^ page_title }}{{ site_name }}{{/ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Srisakdi&amp;subset=latin-ext"> 
    <link rel="stylesheet" type="text/css" href="{{ site_url }}css/site.css">
</head>
<body>
    <main>
        <header>
            <h1 class="branding">
                <a href="{{ site_url }}">{{ site_name }}</a>
            </h1>
        </header>
        <nav>
            <a href="{{ site_url }}">Početna</a>
            <span class="after"></span>
            <a href="{{ site_url }}about">O nama</a>
            <span class="after"></span>
            <a href="{{ site_url }}locations">Lokacije</a>
            <span class="after"></span>
            <a href="{{ site_url }}contact">Kontakt</a>
            <div class="cart" id="theMyCart">Moja korpa</div>
            <div class="clearfix"></div>
        </nav>