<div class="group">
    <h2 class="group-title">Naš slatki asortiman</h2>
    <div class="categories">
        {{# categories }}
        <div class="category">
            <div class="category-picture"><img src="{{ picture_thumb_url }}" alt="{{ category_title }}" /></div>
            <div class="category-title">
                <a href="{{ site_url }}proizvodi?category={{ category_id }}">{{ category_title }}</a>
            </div>
        </div>
        {{/ categories }}
    </div>
</div>