<div class="single-product">
    <div class="left-side">
        <img src="{{ product.picture_thumb_url }}" alt="{{ product.product_title }}" />
    </div>
    <div class="right-side">
        <h2 class="product-title" id="theProductTitle">{{ product.product_title }}</h2>
        <p class="product-description">{{ product.product_short_description }}</p>
        <p class="product-ingredients">{{ product.product_long_description }}</p>
        <div class="product-purchase">
            <div class="product-price">
                <span class="product-price-per-unit" id="productPricePerUnit">{{ product.product_price_per_unit }} din</span>
                <span class="product-price-sep"> / </span>
                <span class="product-unit-of-measure">{{ product.product_unit_of_measure }}</span>
            </div>
            <div class="product-order">
                <div class="order-qty">
                    <div class="order-qty-plus">&plus;</div>
                    <div class="order-qty-minus">&dash;</div>
                    <div class="order-qty-number"><span id="theProductOrderQuantity">0</span> &times; </div>
                </div>
                <div class="order-total">
                    <!-- <span id="productPricePerUnit">{{ product.product_price_per_unit }}</span> din = -->
                    <span id="theProductOrderTotal">0</span> din
                </div>
                <div class="order-button">
                    <a href="#" id="theProductOrderButton" data-id="{{ product.product_id }}" class="disabled">Dodaj u korpu</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="bottom">
        <a href="{{ site_url }}proizvodi?category={{ product.product_category_id }}" class="related-products-button">Ostali proizvodi iz ove kategorije</a>
    </div>
</div>