<div class="group group-special">
    <div class="group-special-image">
        <img src="{{ category_picture }}" alt="{{ category_title }}" />
    </div>
    <h2 class="group-title group-special-title">{{ category_title }}</h2>
    <div class="categories-dropdown">
        <div class="categories-button">
            <a href="#">Lista kategorija</a>
        </div>
        <div class="categories-menu">
            {{# categories }}
            <div class="category">
                <div class="category-picture"><img src="{{ picture_thumb_url }}" alt="{{ category_title }}" /></div>
                <div class="category-title">
                    <a href="{{ site_url }}proizvodi?category={{ category_id }}">{{ category_title }}</a>
                </div>
                <div class="clearfix"></div>
            </div>
            {{/ categories }}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="group-special-divider"></div>
    {{^ has_products }}
    <div class="no-results">Nije pronađen nijedan proizvod. </div>
    {{/ has_products }}
    {{# has_products }}
    <div class="products">
        {{# products }}
        <div class="product">
            <div class="product-picture"><img src="{{ picture_thumb_url }}" alt="{{ product_title }}" /></div>
            <div class="product-title">
                <a href="{{ site_url }}proizvod/{{ product_id }}">{{ product_title }}</a>
            </div>
        </div>
        {{/ products }}
    </div>
    {{/ has_products }}
</div>